/* Modal.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    position: relative;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: #333;
    cursor: pointer;
  }
  
  .close-btn:hover {
    color: #f44336;
  }
  
  .modal-content-wrapper {
    overflow-y: auto;
    max-height: 510px;
  }

  .modal-content-wrapper::-webkit-scrollbar {
    width: 10px;
  }
  
  .modal-content-wrapper::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  .modal-content-wrapper::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  .modal-content-wrapper::-webkit-scrollbar-thumb:hover {
    background: #555; 
  } 

  .modal-content button.close-btn {
    top: -40px !important;
    right: -40px !important;
  }
  
  .modal-content button.close-btn img {
    width: 100%;
    filter: invert(1);
  }